*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
