/// Size an element
/// @access public
/// @param {Lenght} $width
/// @param {Height} $height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// Output vendor prefixes
/// @access public
/// @param {String} $property - Unprefixed CSS property
/// @param {*} $value - Raw CSS value
/// @param {List} $prefixes - List of prefixes to output
@mixin prefix($property, $value, $prefixes: ()) {
  #{$property}: $value;

  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
}

///
/// @access public
/// @param {String} $break-point
@mixin respond-to($break-point) {
  $raw-query: map_get($break-points, $break-point);

  @if $raw-query {
    $query: if(
        type_of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
    );

    @media #{$query} {
      @content
    }
  } @else {
    @error 'No value for `#{$break-point}`.'
  }
}

/// Event wrapper
/// @access public
@mixin on-event() {
  &:hover,
  &:active,
  &:focus {
    @content
  }
}

@mixin flex($direction: row, $content: null , $items: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}
